header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: center;
    background-color: var(--white);
    z-index: 99;
}

.inner {
    width: var(--width);
    height: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header__menu {
    display: flex;
    align-items: center;
    position: relative;
}

.header__item {
    display: inline-block;
    padding: 15px 0;
    margin-right: 12px;
}

.header__link {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--black);
    text-transform: uppercase;
}

.header__menu-custom {
    margin-right: 0;
    position: relative;
}

/* Submenu */
.header__menu > .header__item:hover .header__submenu {
    display: flex;
}   

.header__menu > .header__item:hover .header__submenu-about {
    display: block;
}

.header__item:hover .header__link {
    color: #AC2F33;
}

.header__submenu {
    position: absolute;
    display: none;
    width: var(--width);
    top: 45px;
    left: 0;
    padding: 23px 24px;
    background-color: var(--white);
    border: 1px solid #E7E8E9;
    transition: 0.3s;
}

.header__submenu-cat {
    margin-right: 50px;
}

.header__submenu-cat a {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 16px;
    color: var(--black);
    display: block;
    margin-bottom: 24px;
}

.header__submenu-list {
    display: flex;
    flex-wrap: wrap;
}

.header__submenu-item {
    margin-right: 50px;
}

.header__submenu-item h3 {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: var(--black);
    display: block;
    margin-bottom: 16px;
}

.header__submenu-item ul li {
    font-size: 1.4rem;
    line-height: 16px;
    color: #57585A;
    display: block;
    margin-bottom: 16px;
}

.header__submenu-about {
    position: absolute;
    top: 55px;
    width: 240px;
    display: none; 
}

.header__submenu-about a {
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--black);
    margin-bottom: 24px;
}

.header__submenu-about li:last-child a {
    margin-bottom: 0;
}

/* Logo */
.header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.header__logo img {
    display: block;
    width: 144px;
    height: auto;
}

/* Orther */
.header__orther {
    display: flex;
    align-items: center; 
}

/* Search */
.header__search {
    display: flex;
    width: 240px;
    height: 40px;
    margin-right: 2rem;
    border: 1px solid #E7E8E9;
    border-radius: 4px;
}

.header__search button {
    height: 100%;
    width: 40px;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.header__search input {
    flex: 1;
    height: 100%;
    font-weight: 400;
    font-size: 1.2rem;
    background-color: transparent;
    caret-color: var(--primary);
    font-family: var(--font-family);
}

/* Action */ 
.header__action {   
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header__action button {
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
}

/* Container */
.main {
    padding-top: 80px;
}

.main__container {
    width: var(--width);
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Info */
.info {
    display: flex;
    margin-bottom: 24px;
    margin-right: -10px;
}

.info a {
    color: var(--white);
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 0;
    display: block;
}

.info-left {
    flex: 1;
    background: #D73831;
}

.info-center {
    flex: 1;
    background: #DC633A;
}

.info-right {
    flex: 1;
    background: #AC2F33;
}

/* banner */
.banner {
    position: relative;
    margin-bottom: 40px;
}

.banner::before {
    position: absolute;
    width: 100%;
    top: 15px;
    right: -10px;
    height: 96%;
    border-radius: 80px 0px 80px 0px;
    content: "";
    border: 1px solid #D1D2D4;
}

.slider__wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider__main {
    position: relative;
    display: flex;
    height: 100%;
    transition: transform 0.3s ease;
}

.slider__item {
    flex: 1 0 100%;
    user-select: none;
}

.slider__item img {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 80px 0px 80px 0px;
}

/* dots */
.slider__dots {
    position: absolute;
    left: 50%;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    z-index: 1;
}

.slider__dot-item {
    margin-right: 16px;
    width: 12px;
    height: 12px;
    border-radius: 100rem;
    border: 1px solid #D1D2D4;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
}

.slider__dot-item:last-child {
    margin-right: 0;
}

.slider__dot-item:hover,
.slider__dot-item.active {
    background-color: var(--white);
}

.slider__nav {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.slider__nav-prev {
    left: 20px;
} 

.slider__nav-next {
    right: 20px;
}

.slider__nav-prev,
.slider__nav-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #BCBDC0;
    cursor: pointer;
    font-size: 4rem;
    z-index: 10;
    transition: 0.3s;
}

.slider__nav-prev:hover,
.slider__nav-next:hover {
    color: var(--black);
}